@import './variables.scss';

.about {
  align-items: flex-start;
  color: $primary-font-color;
  background-size: auto;
  padding: 15% 10% 10% 10%;
}

.separator {
  margin: 0 0 1rem 0;
  width: 50px;
}


.image__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 295px;
  max-width: 336px;
}

.svg {
  margin: 10px 0 5px;
}

@media screen and (min-width: 376px) {
  .image__container {
    align-self: center;
  }
}

@media screen and (min-width: 425px) {}

@media screen and (min-width: 768px) {
  .about {
    padding: 10%;
  }

  .paragraph {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: auto repeat(5, 190px) auto;
    grid-template-rows: repeat(5, auto);
    padding: 5% 0px;
    align-items: center;
    justify-items: flex-start;
    grid-row-gap: 10px;
  }

  .image__container {
    align-self: center;
    justify-self: flex-start;
    grid-column: 2/5;
    grid-row: 1 / 7;
    height: 482px;
    width: 421px;
    max-width: 421px;
  }

  .title,
  .separator,
  .paragraph,
  .svg {
    grid-column: 5 / 7;
  }

  .title,
  .separator {
    margin: 0px;
  }

  .paragraph {
    font-size: 0.8rem;
  }



}