@import './variables.scss';

.contactform {
    align-items: center;
    color: $primary-font-color;
    background-size: cover;
    padding: 15% 10% 20% 10%;
    background-image:  url("/png/snow.webp");
}

.subscribe__input {
    border: none;
    padding: 20px 10%;
    box-shadow: 4px 8px 25px 5px rgba(20,6,35,0.09);
    border-radius: 25px;
    width: 80%;
    margin: 5% 5% 10% 5%;
    max-width: 400px;
}

.btn {
    margin-top: 1rem;
}
  
@media screen and (min-width: 376px) {
    .contactform {
        padding-top: 5%;
    }

    .subscribe__input {
        margin: 4% 5% 4% 5%;
    }
}