.footer {
  background-image:  url("/png/footer_mobile.webp");
  padding: 40% 10% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  margin: 5% 0;
}

.footer__copy {
  font-family: 'Lora';
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 5% 0;
  letter-spacing: 0.5px;
}

.footer__socials_container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;
  width: 40%;
}

.footer__socials {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}


.footer__icon {
  cursor: pointer;
  background: white;
  padding: 5px;
  width: 30px;    
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.instagram:hover {
  //background-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 50%,#d6249f 75%,#285AEB 90%);
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.facebook:hover {
  background-color: #1877F2;
}

.youtube:hover {
  background-color: #FF0000;
}

.footer__icon > svg {
  width: 18px;
  height: 18px;
}

.footer__list_title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
}

.footer__list {
  width: 50%;
  list-style: none;
  padding: 0px;
  line-height: 2;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.footer__list > li{
  cursor: pointer;
}

.footer__list > li:hover {
  font-weight: bold;
}

.flex {
  display:flex;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.sitemap__container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.footer__contact {
  width: 100%;
}

.phone:hover {
  color: #17980E;
}


@media screen and (min-width: 376px) {
  .footer {
    background-image:  url("/png/footer.webp");
    padding: 100px 10% 0 10%;
  }
}


@media screen and (min-width: 769px) {
  .footer__socials_container {
    max-width: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-right: calc(50% - 475px);
    padding-left: calc(50% - 475px);
  }
}

