@import url('../public/fonts/Jokerman\ Std.css');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');
@import './variables.scss';

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	white-space: normal;
	color: #ffffff;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
    color: #8F34EB;
    font-weight: bold;
    text-decoration: underline;
}
a:link, a:visited,  a:active {
    text-decoration: auto;
    color: #fff;
    font-family: 'Lora';
}

* {
	box-sizing: border-box;
}


.btn {
    background-color: $base-color;
    color: #fff;
    padding: 15px 45px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color .8s;
}


.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: $base-color;
    font-weight: bold;
    box-shadow: inset 0px 0px 5px 3px rgb(143 52 235 / 25%);
}

.section {
    min-height: 70vh;
    padding-top: 15%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    border-radius: 25px;
    border-bottom: 2px solid $base-color;
    height: 1px;
    width: 70px;
    display: inline;
}

.title {
    font-family: 'Jokerman';
    font-weight: normal;
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
    text-align: center;
    width: auto;
}

.paragraph {
    text-align: justify;
    font-size: 0.75em;
    line-height: 1.5;
    font-family: 'Lora', serif;
    margin: 0px;
}

.footer__rights {
    background: $secondary-font-color;
    text-align: center;
    font-size: 0.6em;
    padding: 10px;
}

