@import './variables.scss';

.instagram {
  height: auto;
  align-items: center;
  color: $primary-font-color;
  background-size: cover;
  padding: 15% 10% 10% 10%;
}

.separator {
  margin-bottom: 1rem;
}

.photo__card {
  border-radius: 25px;
  overflow: hidden;
  margin: 15px;
}

.photo__container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  .instagram {
    padding: 5% 10% 5% 10%;
  }
  .photo__container {
    margin: 2rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .photo__container {
    max-width: 950px;
  }
  .photo__container > :first-child {
    margin-left: 0px;
  }
  .photo__container > :last-child {
    margin-right: 0px;
  }
  
}