@import './variables.scss';

.navbar {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5% 0 5%;
  z-index: 5;
  max-width: 950px;
}

.logo {
  text-shadow: 1px 1px 2px #8f34eb;
}

.menu__container {
  font-family: 'Jokerman';
  position: fixed;
  top: -400px;
  left: 0;
  width: 100vw;
  height: 300px;
  z-index: -1;
  background-image:  url("../public/png/welcome_mobile.webp");
  background-size: 100% 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;;
}

.menu__content {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.menu__container.toggle {
  top: 0;
  transition: all  1s ease-in-out;;
}

.menu__list {
  width: 80%;
  text-align: center;
  list-style: none;
  padding: 0px;
  line-height: 2;
  margin: 0px;
  margin-bottom: 20px;
}

.menu__item {
  transition: padding-left .7s ease, color .7s ease;
  /* underline css*/
  text-decoration: none; 
  position: relative; 
}

.menu__item:hover {
  color: $base-color;
  padding-left: 20px;
  cursor: pointer;
}


.menu__item:after {
  position: absolute;
  content: '';
  height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: 0px; 
  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 40%;
  background: #fff;
  transition: .5s;

}
	 

/* optional hover classes used with anmiation */
.menu__item:hover:after {
  background: $base-color;
}

.hamburger {
  z-index: 1000;
  cursor: pointer;
}


.menu_btn {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0px 0px 5px 3px rgb(143 52 235 / 15%);
}

.menu_btn__burger {
  width: 12px;
  height: 2px;
  background-color: $secondary-font-color;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  margin-right: 3px;
}

.menu_btn__burger::before, .menu_btn__burger::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: $secondary-font-color;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}
.menu_btn__burger::before  {
  transform: translateY(-6px);
}
.menu_btn__burger::after{
  transform: translateY(6px);
} 
.menu_btn.open .menu_btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.menu_btn.open .menu_btn__burger::before{
  transform: rotate(45deg) translate(35px, -35px);
  width: 15px;
}
.menu_btn.open .menu_btn__burger::after{
  transform: rotate(-45deg) translate(35px, 35px);
  width: 15px;
}

@media screen and (min-width: 376px) {
  .menu__list {
    max-width: 325px;
    width: 25%;
  }
  .menu__container {
    background-image:  url("/png/welcome_bg.webp");
  }
  .menu__content {
    margin-top: 10%;
  }
  .menu__item:after {
    width: 70%;
  }
}

@media screen and (min-width: 769px) {
  .menu__content {
    margin-top: 5%;
  }
}


@media screen and (min-width: 1024px) {
  .menu__content {
    margin-top: 2%;
  }
  .navbar {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 950px;
    right: 0;
    left: 0;
    top: 30px;
  }
}

