@import './variables.scss';

.project {
  align-items: flex-start;
  color: $primary-font-color;
  background-size: cover;
  padding: 15% 10% 20% 10%;
  background-position: right;
  background-image:  url("/png/snow.webp");
}

.separator {
  margin: 0 auto 10% auto;
}

.videoplaceholder {
  margin: 0;
  width: 100%;
}

.title {
  margin-top: 1rem;
}

@media screen and (min-width: 376px) {
  .project {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  .project {
    padding: 10%;
  }
  .separator {
    margin: 20px auto 30px auto;
  }
  
}


