@import './variables.scss';

.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  align-items: flex-start;
  color: $primary-font-color;
  background-size: cover;
  padding: 15% 10% 20% 10%;
  background-position: right;
  background-image:  url("/png/snow.webp");
}

.separator {
  margin: 0 auto 10% auto;
}


.title {
  margin-top: 1rem;
}

@media screen and (min-width: 376px) {
  .project {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 550px) {
  .project {
    min-height: 700px;
    // padding: 5% 10%;
  }
}

@media screen and (min-width: 769px) {
  .project {
    padding: 5% 10%;
  }
  .separator {
    margin: 20px auto 30px auto;
  }
  
}

@media screen and (min-width: 1024px) {
  .project {
    background-size: 100% 100%;
    background-position: center;
  }
}