@import './variables.scss';

.details {
  color: $secondary-font-color;
  padding: 10% 10% 5% 10%;
  height: auto;
  align-items: flex-start;
}


.spacer {
  margin-top: 1.5rem;
}

.separator {
  margin-bottom: 5%;
  margin-top: 0;
  align-self: center;
}

.title {
  align-self: center;
}


@media screen and (min-width: 376px) {

  .image__container{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}



