@import './variables.scss';

.subscribe {
  align-items: center;
  color: $primary-font-color;
  background-size: auto;
  padding: 15% 10% 0 10%;
}

.subscribe__photo {
  width: 40%;
  margin-top: 10%;
}

.subscribe__copy, .subscribe__response {
  font-family: 'Lora';
  text-align: center;
  font-size: 0.9rem;
}

.subscribe__input {
  border: none;
  padding: 20px 10%;
  box-shadow: 4px 8px 25px 5px rgba(20,6,35,0.09);
  border-radius: 25px;
  width: 80%;
  margin: 5% 5% 5% 5%;
  text-align: center;
}

.label {
  display: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 14px;
  font-size: 16px;
  border: none;
}

@media screen and (min-width: 376px) {
  .subscribe__photo {
    display: flex;
    justify-content: center;
  }
  .btn {
    margin-top: 3%;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 5% 10%;
  }
  .subscribe__title {
    grid-column: 1 / -1;
  }
  .separator {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .subscribe__photo {
    grid-row: 3 / 5;
    margin: 0;
    width: 70%;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .form {
    align-self: flex-start;
  }
  .subscribe__response {
    font-size: 1rem;
    margin: 0 auto 1.5rem auto;
  }
  .subscribe__copy {
    align-self: flex-end;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.8;
  }
  .subscribe__input {
    margin: 1rem 0 2rem;
    width: 100%;
    font-size: 1rem;
  }
  .btn {
    margin-top: 0;
  }

}

@media screen and (min-width: 1024px) {
  .subscribe {
    grid-template-columns: auto 475px 475px auto ;
    padding: 0px;
  }
  .subscribe__title {
    grid-column: 2 / 4;
  }
  .separator {
    grid-column: 2 / 4;
  }
  .subscribe__photo {
    grid-column: 2 / 3;
    justify-self: flex-start;
  }
  .subscribe__copy {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }
  .form {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
  }
  
}